* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', 'Arial', sans-serif;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
  color: #000000;
}

body {
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

.wrapper {
  z-index: 2;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 6.25%;
  padding-right: 6.25%;
}

h2,
h3,
.header-slogan-item,
.button,
.footer-slogan-item {
  font-weight: 700;
  text-transform: uppercase;
}

/* HEADER */

.header {
  position: relative;

  padding-top: 33px;
  padding-bottom: 84px;

  color: #ffffff;

  background-image: url("../img/football_767.jpg");
  background-size: cover;
  background-position: center center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: #0a0e34;
  opacity: 0.9;
}

.logo {
  z-index: 2;

  align-self: center;
}

.logo svg {
  width: 133px;
  height: 36px;
}

.header-slogan {
  z-index: 2;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 137px;
}

.header-slogan-item {
  display: block;

  font-size: 2.8rem;
}

.header-slogan-item:nth-child(1) {
  align-self: flex-start;
}

.header-slogan-item:nth-child(2) {
  width: 220px;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 15px;
}

.buttons {
  z-index: 2;

  align-self: center;
  width: 100%;
  margin-top: 90px;
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  padding-left: calc(50% - 55px);

  font-weight: 400;
  font-size: 0.8rem;

  background-color: #5e42b0;
  border-radius: 17.5px;
  /* box-shadow: 0 25px 20px -5px #0A0C31;  применить для десктопной версии  */
}

.button:nth-child(1) {
  margin-bottom: 14px;
}

.button svg {
  width: 20px;
  height: 24px;
  margin-right: 9px;

  fill: #ffffff;
}

.button:hover {
  color: #bdace3;

  background: #4d3191;
  transition: 0.3s;
}

.button:hover svg {
  fill: #bdace3;
  transition: 0.3s;
}


/* ATHLETS & PLAYERS */

.athlets-players {
  position: relative;

  padding-top: 20px;
}

.athlets::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  top: 80px;

  background-image: url("../img/footballer_192.png");
  background-size: 192px 281px;
  background-position: top center;
  background-repeat: no-repeat;
}

.players::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  top: 80px;

  background-image: url("../img/basketballer_302.png");
  background-size: 302px 248px;
  background-position: top center;
  background-repeat: no-repeat;
}

.athlets-players h2 {
  align-self: flex-start;

  font-size: 5rem;
  line-height: 1em;
  color: #e7e7e7;
}

.athlets-players ol {
  margin-top: 244px;
}

.athlets-players ol li {
  display: block;
  padding-top: 60px;
  padding-bottom: 51px;
}

.athlets-players ol li:nth-child(1) {
  background-color: #fafafa;
}

.athlets-players ol li:nth-child(2) {
  background-color: #f5f4f9;
}

.athlets ol li:nth-child(3) {
  background-color: #5e42b0;
}

.players ol li:nth-child(3) {
  background-color: #090c35;
}

.athlets-players h3 {
  position: relative;

  margin-left: 25px;

  font-size: 2.3rem;
  line-height: 1em;
  color: #c1c1c1;
}

.athlets-players h3::before {
  position: absolute;
  left: -25px;
  top: 3;

  font-size: 1.4rem;
  line-height: 1.2em;
  color: #000000;
}

.athlets-players li:nth-child(1) h3::before {
  content: "01";
}

.athlets-players li:nth-child(2) h3::before {
  content: "02";
}

.athlets li:nth-child(3) h3::before {
  content: "03";
}

.players li:nth-child(3) h3::before {
  content: "03";

  color: #8765dd;
}

.athlets-players h3::after {
  content: "";
  position: absolute;
  left: -26px;
  top: 17px;

  width: 17px;
  height: 4px;

  background-color: #5e42b0;
  border-radius: 2px;
}

.athlets-players li:nth-child(3) h3::after {
  background-color: #ffffff;
}

.athlets-players p {
  margin-top: 26px;

  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #000000;
}

.athlets-players li:nth-child(3) p {
  color: #ffffff;
}


/* TO-DO */

.to-do h3 {
  position: relative;

  margin-top: 35px;

  font-size: 2.8rem;
  line-height: 1em;
  color: #e7e7e7;
}

.to-do p {
  margin-top: 22px;
  margin-bottom: 77px;

  font-size: 1.6rem;
  line-height: 2rem;
  color: #000000;
}

.to-do h3::before {
  position: absolute;
  top: -95px;

  width: 70px;
  height: 70px;

  font-size: 1.4rem;
  line-height: 70px;
  text-align: center;
  color: #ffffff;

  background-color: #5e42b0;
}

.to-do li:nth-child(1) h3::before {
  content: "01";
}

.to-do li:nth-child(2) h3::before {
  content: "02";
}

.to-do li:nth-child(3) h3::before {
  content: "03";
}

.to-do h3::after {
  content: "";
  position: absolute;
  top: -49px;
  left: 27px;

  width: 15px;
  height: 4px;

  background-color: #8f7bc8;
  border-radius: 2px;
}


/* FOOTER */

.footer {
  position: relative;

  padding-top: 99px;
  padding-bottom: 10px;

  color: #ffffff;

  background-image: url("../img/game_767.jpg");
  background-size: cover;
  background-position: center center;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: #0a0e34;
  opacity: 0.9;
}

.footer-logo {
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 72px;
  height: 74px;

  background-color: #5339a0;
    background-image: linear-gradient(to bottom, #7c58de, #493a8d);
  border-radius: 15px;
}

.footer-logo svg {
  width: 50px;

  fill: #ffffff;
}

.footer-logo:hover {
  background-image: linear-gradient(to bottom, #493a8d, #7c58de);
  transition: 0.3s;
}

.footer-slogan {
  z-index: 2;

  margin-top: 59px;
  text-align: center;
}

.footer-slogan-item {
  display: block;

  font-size: 3.2rem;
  line-height: 1em;
}

.footer-slogan-item:nth-child(2) {
  margin-top: 6px;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1em;
  color: #9b8ec1;
}

.footer .buttons {
  margin-top: 77px;
}

.footer .logo {
  margin-top: 81px;
}


@media (min-width: 641px) and (max-width: 960px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* HEADER */

  .header {
    padding-top: 40px;
    padding-bottom: 91px;

    background-image: url("../img/football_1280.jpg");
  }

  .logo svg {
    width: 205px;
    height: 56px;
  }

  .header-slogan {
    margin-top: 181px;
  }

  .header-slogan-item {
    font-size: 6.4rem;
  }

  .header-slogan-item:nth-child(1) {
    align-self: flex-start;
  }

  .header-slogan-item:nth-child(2) {
    width: 500px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .button {
    width: 48%;
    height: 77px;
    padding-left: 41px;

    font-size: 1.4rem;

    background-color: #5e42b0;
    border-radius: 38px;
    box-shadow: 0 25px 20px -5px #0A0C31;
  }

  .button:nth-child(2) {
    padding-left: 57px;
  }

  .button svg {
    width: 36px;
    height: 41px;
    margin-right: 28px;
  }


  /* ATHLETS & PLAYERS */

  .athlets-players {
    padding-top: 87px;
  }

  .athlets::before {
    top: 95px;
    right: 38%;

    background-image: url("../img/footballer_497.png");
    background-size: 497px 699px;
  }

  .players::before {
    width: 436px;
    top: 80px;
    right: 0;

    background-image: url("../img/basketballer_436.png");
    background-size: 436px 565px;
  }

  .athlets .wrapper {
    padding-left: 38%;
  }

  .players .wrapper {
    padding-right: 38%;
  }

  .athlets-players h2 {
    font-size: 8rem;
  }

  .athlets-players ol {
    margin-top: 20px;
  }

  .athlets-players ol li {
    padding-top: 42px;
    padding-bottom: 36px;
  }

  .athlets-players ol li:nth-child(1) {
    background-color: #ffffff;
  }

  .athlets-players h3 {
    margin-left: 32px;

    font-size: 3.2rem;
  }

  .athlets-players h3::before {
    left: -32px;
    top: 3;

    font-size: 1.8rem;
  }

  .athlets-players h3::after {
    left: -32px;
    top: 22px;

    width: 21px;
    height: 5px;

    border-radius: 2.5px;
  }

  .athlets-players p {
    margin-top: 26px;

    font-size: 1.6rem;
    line-height: 2.8rem;
  }


  /* TO-DO */

  .to-do h3 {
    margin-top: 82px;

    font-size: 8rem;
  }

  .to-do p {
    margin-top: 37px;
    margin-bottom: 100px;

    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .to-do h3::before {
    top: -170px;

    width: 116px;
    height: 116px;

    font-size: 2.4rem;
    line-height: 116px;
  }

  .to-do h3::after {
    top: -95px;
    left: 44px;

    width: 25px;
    height: 5px;

    border-radius: 2.5px;
  }


  /* FOOTER */

  .footer {
    padding-top: 126px;
    padding-bottom: 24px;

    background-image: url("../img/game_1280.jpg");
  }

  .footer-logo {
    width: 130px;
    height: 137px;

    border-radius: 35px;
  }

  .footer-logo svg {
    width: 100px;
  }

  .footer-slogan {
    margin-top: 83px;
  }

  .footer-slogan-item {
    font-size: 8rem;
  }

  .footer-slogan-item:nth-child(2) {
    margin-top: 27px;

    font-size: 3.6rem;
  }

  .footer .buttons {
    margin-top: 287px;
  }

  .footer .logo {
    margin-top: 55px;
  }
}



@media (min-width: 961px) {
  .wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }

  /* HEADER */

  .header {
    padding-top: 45px;
    padding-bottom: 110px;

    background-image: url("../img/football_1920.jpg");
  }

  .logo svg {
    width: 191px;
    height: 52px;
  }

  .header-slogan {
    margin-top: 295px;
  }

  .header-slogan-item {
    font-size: 9rem;
    line-height: 1em;
  }

  .header-slogan-item:nth-child(1) {
    align-self: flex-start;
  }

  .header-slogan-item:nth-child(2) {
    width: auto;
    margin-top: 26px;
    align-self: flex-end;

    line-height: 1em;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .button {
    width: 310px;
    height: 77px;
    padding-left: 41px;

    font-size: 1.4rem;

    background-color: #5e42b0;
    border-radius: 38px;
    box-shadow: 0 25px 20px -5px #0A0C31;
  }

  .button:nth-child(2) {
    margin-left: 51px;
    padding-left: 57px;
  }

  .button svg {
    width: 36px;
    height: 41px;
    margin-right: 28px;
  }


  /* ATHLETS & PLAYERS */

  .athlets-players {
    padding-top: 116px;
  }

  .athlets::before {
    top: 27px;
    right: 20%;
    height: 908px;

    background-image: url("../img/footballer_566.png");
    background-size: 566px 908px;
  }

  .players::before {
    width: 991px;
    height: 815px;
    top: 23px;
    right: 6.5%;

    background-image: url("../img/basketballer_991.png");
    background-size: 991px 815px;
  }

  .athlets .wrapper {
    padding-left: 52.5%;
  }

  .players .wrapper {
    padding-right: 52.5%;
  }

  .athlets-players h2 {
    font-size: 8rem;
  }

  .athlets-players ol {
    margin-top: 49px;
  }

  .athlets-players ol li {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .athlets-players ol li:nth-child(1) {
    background-color: #ffffff;
  }

  .athlets-players h3 {
    margin-left: 32px;

    font-size: 3.2rem;
  }

  .athlets-players h3::before {
    left: -32px;
    top: 3;

    font-size: 1.8rem;
  }

  .athlets-players h3::after {
    left: -32px;
    top: 22px;

    width: 21px;
    height: 5px;

    border-radius: 2.5px;
  }

  .athlets-players p {
    margin-top: 26px;

    font-size: 2rem;
    line-height: 1.4em;
  }


  /* TO-DO */

  .to-do ol {
    font-size: 0;
  }

  .to-do li {
    position: relative;

    display: flex;
  }

  .to-do li:nth-child(even) {
    flex-direction: row-reverse;
  }

  .to-do picture {
    width: 50%;
  }

  .to-do img {
    min-height: 730px;

    object-fit: cover;
  }

  .to-do .wrapper {
    width: 50%;
    padding-right: 6.5%;
    padding-left: 6.5%;
  }

  .to-do h3 {
    position: static;
    margin-top: 261px;

    font-size: 8rem;
  }

  .to-do p {
    margin-top: 114px;
    margin-bottom: 50px;

    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .to-do h3::before {
    top: 231px;
    left: calc(50% - 84px);
    
    width: 168px;
    height: 155px;

    font-size: 2.4rem;
    line-height: 155px;
  }

  .to-do h3::after {
    top: 326px;
    left: calc(50% - 12px);

    width: 24px;
    height: 5px;

    border-radius: 2.5px;
  }


  /* FOOTER */

  .footer {
    padding-top: 229px;
    padding-bottom: 52px;

    background-image: url("../img/game_1920.jpg");
  }

  .footer .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    width: 130px;
    height: 137px;

    border-radius: 35px;
  }

  .footer-logo svg {
    width: 100px;
  }

  .footer-slogan {
    margin-top: 0;
    margin-left: 31px;

    text-align: left;
  }

  .footer-slogan-item {
    font-size: 8rem;
  }

  .footer-slogan-item:nth-child(2) {
    margin-top: 20px;

    font-size: 3rem;
  }

  .footer .buttons {
    width: 100%;
    margin-top: 151px;
  }

  .footer .logo {
    margin-top: 262px;
  }
}